@font-face{
	font-family: Strato-Regular;
	src: url(Strato-linked.otf);
}

body {
	font-family: Strato; 
	font-size:14px;
	color: black;
	background: url("icons/Fender_amp3.png");
	background-image-size: 100px 100px;
    background-repeat: no-repeat;
	overflow: 0;
	}
li {
	margin-bottom:14px
	}
code {
	font-size:14px
	}
input {
	font-size:12px; 
	margin-top:10px; 
	font-weight:bold;
}

#moveDiv{
	text-align: center;
	
}

#moveDiv #move{
	background-color: Transparent;
	border: 0;
	height: 40px;
	width: 270px;
}

#meuLabel{
	color: #EAEDF2;
	margin: 2% 7% 0;
}

#menu{
	color: #EAEDF2;
	margin: 0 7%;
}

#menu .menuButtons{
	display: inline;
	float: left;
}

#menu #minDiv{
	margin-top: 17px;
	margin-left: 6px;
	margin-right: 20px;
	text-align: center;
}

#menu #minDiv #min{
	height: 30px;
	width: 74px;
	margin-bottom: 0;
	background-color: Transparent;
	border: 0;
}



#menu .menuButtons .selectiveButtons{
	height: 50px;
	width: 56px;
	margin-left: 4px;
	margin-top: 6px; 
	margin-right: 11px;
	border: 0;
	background-color: Transparent;
	
}

#menu .menuButtons{
	text-align: center;
}


#menu .menuButtons #labelFont{
		font-size: 10px;
	}

#menu #exitDiv{
	float: right;
	margin-top: 16px;
	margin-right: 10px;
	text-align: center;
}

#menu #exitDiv #exit{
	background: url(icons/red_button.png);
	background-repeat:no-repeat;
	width: 20px;
	height: 21px;
	border: 0;
}

#content{
	margin: 7% 9% 8% 9%;
}

#topBar{
	clear: both;
}

#topBar #head{
	
	float: left;
	width: 150px;
	-webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
}

#topBar #messages{
	padding: 5px;
	border:5px solid black;
	float: right;
	background-color: #EAEDF2;
	color: red;
	display: none;
	
}
