<div id="topBar">
	<div id="head">
		<br>
		<h2> &nbsp &nbsp Menu </h3>
	</div>
	<div id="messages"></div>
<div>
<div id="menuContainer">
	<table border="0">
		<tr>
			<td><button id="widomości"> Wiadomości </button></td>
		</tr>
		<tr>
			<td><button id="zgłoszenia"> Zgoszenia </button></td>
		</tr>
		<tr>
			<td><button id="oceny"> MojeOceny </button></td>
		</tr>
		<tr>
			<td><button id="grafik"> Grafik </button></td>
		</tr>
	</table>
</div>