@CHARSET "UTF-8";

#loginContainer{
	clear: both;
	margin-top: 100px;
	text-align: center;
}

#loginContainer #registerLink{
	color: #00008B;
}

#loginContainer #registerLink:hover{
	color: #FF8C00;
}

