@CHARSET "UTF-8";

#menuContainer{
	clear: both;
}

#menuContainer table{
	margin: 0 auto;
}

#menuContainer td{
	text-align: center;
}

#menuContainer .teacher {
	display: none;
}

#menuContainer .user {
	display: none;
}
