@CHARSET "UTF-8";

#messagesContainer{
	clear: both;
	text-align: center;
	overflow:auto;
	height: 400px;
}

#messagesContainer table{
	margin: 0 auto;
}

#messagesContainer #button{
	text-align: center;
}

#messagesContainer #button button{
	width: 200px;
}

td {
	padding:0 10px;
}

.ninja{
	display: none;
}
