@CHARSET "UTF-8";

#registerContainer{
	clear: both;
	text-align: center;
	overflow:auto;
	height: 400px;
}

#registerContainer form table{
	margin: 0 auto;
}

#registerContainer .teacher{
	display: none;
}

#registerContainer #registerButton{
	display: none;
}

.register_messages{
	font-size: 10px;
	padding: 1px;
	border:2px solid red;
	background: #EAEDF2;
	color: red;
	display: none;
}



